ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #003dfd;
    height: 100%;
    position: fixed;
    overflow: auto;
}
body {
    color: aabfff;
}
h1  {
    font-family: 'Pompiere';
    font-size: 22px;
    color: 3566ff;
}
#navbar {
    display: block;
    float: left;
    padding: 5px;
}
#content {
    display: block;
    float: right;
    padding: 5px;
}
    
