

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    list-style-type: none;
    font-size: 15px;
    text-decoration: none;
}

li a.active {
    background-color: #220000;
    color: white;
}

li a:hover:not(.active) {
    background-color: #002200;
    color: white;
}
</style>
body {
    color: aabfff;
    margin: 0;
}
h1  {
    font-family: 'Pompiere';
    font-size: 22px;
    color: 3566ff;
}
    
